[![Go Report Card](https://goreportcard.com/badge/{{ .Package }})](https://goreportcard.com/report/{{ .Package }})
[![Build Status](https://travis-ci.org/{{ .ShortPackage }}.svg?branch=travis)](https://travis-ci.org/{{ .ShortPackage }})
[![Godoc](https://godoc.org/{{ .Package }}?status.svg)](https://godoc.org/{{ .Package }})
[![License](https://img.shields.io/github/license/{{ .ShortPackage }}.svg)](LICENSE)

